# Coursera Capstone
## The Battle of the Neighborhoods
This document will be used for the Coursera Capstone project, part of the IBM Data Science Professional Certificate.

In [55]:
import pandas as pd
import numpy as np

import json # library to handle JSON files

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

import requests # library to handle requests

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

### Create a dataframe of neighborhoods in Minneapolis
As far as I could tell, the data for Minneapolis neighborhoods did not come attached with latitude and longitude values. The following section creates a dataframe with neighborhood names and attached lat/long values.

In [4]:
# Data retrieved from
# https://opendata.minneapolismn.gov/datasets/minneapolis-neighborhoods
# Data downloaded and placed in local directory

with open('Minneapolis_Neighborhoods.geojson.json') as jsondata:
    mpls_data = json.load(jsondata)

Define `mpls_nbhds` to be the features of the geojson file imported above.

In [6]:
mpls_nbhds = mpls_data['features']

In [7]:
# Look at the first entry. Note the neighborhood name has key 'BDNAME'.
mpls_nbhds[0]

{'type': 'Feature',
 'properties': {'FID': 1,
  'BDNAME': 'Phillips West',
  'BDNUM': '90',
  'TEXT_NBR': '90',
  'Shape_STAr': 10669249.7418,
  'Shape_STLe': 14403.8859339,
  'NCR_LINK': 'http://www.nrp.org/r2/Neighborhoods/Orgs/PHW.html',
  'IMAGE': 'PHW',
  'SHAPE_Length': 0.04580106358679052,
  'SHAPE_Area': 0.00011302161937450821},
 'geometry': {'type': 'MultiPolygon',
  'coordinates': [[[[-93.26258075899995, 44.96090821400003],
     [-93.26258068799996, 44.960896674000026],
     [-93.26257007799995, 44.95912773800006],
     [-93.26257006199995, 44.959125131000064],
     [-93.26257002699998, 44.95911920300006],
     [-93.26257002299997, 44.95911835000004],
     [-93.26257002199998, 44.95911830400007],
     [-93.26257006099996, 44.95909969500008],
     [-93.26257174699998, 44.95830091700003],
     [-93.26257379799995, 44.95732838600003],
     [-93.26257385099996, 44.95732643300005],
     [-93.26257396599999, 44.957322271000066],
     [-93.26257794099996, 44.95717704200007],
     [-93.26259322499999, 44.956618751000065],
     [-93.26262280499998, 44.95553821500005],
     [-93.26262293199994, 44.95553358300003],
     [-93.26262293099995, 44.95553345600007],
     [-93.26262292599995, 44.95552397200004],
     [-93.26262227099994, 44.954453313000045],
     [-93.26262184099994, 44.95375352900004],
     [-93.26262184099994, 44.95375346900005],
     [-93.26262183299997, 44.95374139900008],
     [-93.26262186599996, 44.95373722700003],
     [-93.26263352099994, 44.95225792000008],
     [-93.26263371599998, 44.95223306200006],
     [-93.26263594699998, 44.95195005200003],
     [-93.26263594699998, 44.95194998900007],
     [-93.26263597699995, 44.95194633300008],
     [-93.26263597799999, 44.95194614300004],
     [-93.26263810799998, 44.951761532000035],
     [-93.26265449699997, 44.95034078500004],
     [-93.26265764499999, 44.95006788200004],
     [-93.26265947, 44.949910454000076],
     [-93.26267731399997, 44.94837099800003],
     [-93.26267731399997, 44.948370913000076],
     [-93.26267737899997, 44.948365366000075],
     [-93.26267738799999, 44.94836451600003],
     [-93.26267747599996, 44.948357],
     [-93.26268119899999, 44.94835698800006],
     [-93.26272154499998, 44.94835686700003],
     [-93.26272779799996, 44.94835684800006],
     [-93.26392635699995, 44.948353231000056],
     [-93.26395226099999, 44.94835315300003],
     [-93.26437808199995, 44.94835521600004],
     [-93.26521003, 44.94835924100005],
     [-93.26521009899994, 44.94835924000006],
     [-93.26622271699995, 44.948353362000034],
     [-93.26650418699995, 44.948351727000045],
     [-93.26650429599994, 44.948351727000045],
     [-93.26685150199995, 44.94835238400003],
     [-93.26726110699997, 44.94835315700004],
     [-93.26776079499996, 44.94835409700005],
     [-93.26776113799997, 44.94835409800004],
     [-93.26801190099997, 44.94835335000005],
     [-93.26805069599999, 44.94835323400008],
     [-93.26890086499998, 44.948350693000066],
     [-93.26902828399994, 44.94835031000008],
     [-93.26902839199994, 44.94835031000008],
     [-93.27030249399996, 44.94835180200005],
     [-93.27030278299998, 44.94835180200005],
     [-93.27159584799995, 44.94835323500007],
     [-93.27159618899998, 44.94835323500007],
     [-93.27184137499995, 44.94835352900003],
     [-93.27285428, 44.948354737000045],
     [-93.27285433999998, 44.948354737000045],
     [-93.27409466399996, 44.948356266000076],
     [-93.27411962199994, 44.948356208000064],
     [-93.27414039999996, 44.94835615800008],
     [-93.27454145099995, 44.948355194000044],
     [-93.27460334799997, 44.94835504500003],
     [-93.27472094499996, 44.948354762000065],
     [-93.27472315799997, 44.94835475700006],
     [-93.27475575199998, 44.94835467900003],
     [-93.27475575299997, 44.94835481700005],
     [-93.27475581999994, 44.948362702000054],
     [-93.27475854499994, 44.94867595300008],
     [-93.27476241099998, 44.94894297400003],
     [-93.27473919, 44.94923804800004],
     [-93.27473553399994, 44.94928448300004],
     [-93.27472230299998, 44.94934795000006],
     [-93.274705, 44.94943095800005],
     [-93.27470040699995, 44.94945298400006],
     [-93.274687, 44.949517300000025],
     [-93.27466454499995, 44.94962785000007],
     [-93.27464727899996, 44.94971286800006],
     [-93.27462618399994, 44.949780529000066],
     [-93.27458723099994, 44.949905458000046],
     [-93.27455050199995, 44.95002326000008],
     [-93.27447138099996, 44.950243629000056],
     [-93.27437784399996, 44.95045141300005],
     [-93.27434843999998, 44.95051673900008],
     [-93.27424314299998, 44.95070603400006],
     [-93.27420241099998, 44.95077360200003],
     [-93.27411594199998, 44.95091704300006],
     [-93.27403205599995, 44.951048472000025],
     [-93.27399314999997, 44.95110942600007],
     [-93.27380464499998, 44.951366947000054],
     [-93.27379678599999, 44.95137626600007],
     [-93.27367265999999, 44.95152345200006],
     [-93.27365689799996, 44.95154214100006],
     [-93.27362935099995, 44.951574805000064],
     [-93.27357883099995, 44.95163527700004],
     [-93.27338831499998, 44.951863323000055],
     [-93.27331983799996, 44.95194751200006],
     [-93.27331243099997, 44.95195662000003],
     [-93.27313849499996, 44.952170462000026],
     [-93.27311939199996, 44.952193771000054],
     [-93.27302764499996, 44.95230571500008],
     [-93.27297226, 44.95237329200006],
     [-93.27280540299995, 44.952576875000034],
     [-93.27246949799996, 44.95297229200003],
     [-93.27241536299994, 44.953036015000066],
     [-93.27212172999998, 44.95338347300003],
     [-93.27196144799996, 44.953576131000034],
     [-93.27180221199995, 44.953767533000075],
     [-93.27165715199999, 44.953941892000046],
     [-93.27134597999998, 44.95430795900006],
     [-93.27089613399994, 44.95485347500005],
     [-93.27087110499997, 44.95488382700006],
     [-93.27071920199995, 44.955068030000064],
     [-93.27071589099995, 44.95507227000007],
     [-93.27069674099994, 44.955096783000045],
     [-93.27044014699999, 44.95542526100007],
     [-93.27042110899998, 44.95544963300006],
     [-93.27042042499994, 44.95545061000007],
     [-93.27041085899998, 44.95546431500003],
     [-93.27040271899995, 44.95547597700005],
     [-93.27036818199997, 44.95552545600003],
     [-93.27036321699995, 44.95553256800008],
     [-93.27031525899997, 44.955601270000045],
     [-93.27012484499994, 44.955874050000034],
     [-93.27007273699996, 44.95594869900003],
     [-93.27006591299994, 44.955958474000056],
     [-93.27003674099996, 44.95600963800007],
     [-93.26999916499994, 44.95607553800005],
     [-93.26990881899997, 44.956233989000054],
     [-93.26984651499998, 44.95634325800006],
     [-93.26982008699997, 44.956406403000074],
     [-93.26979100799997, 44.95647588200006],
     [-93.26974614499994, 44.95658306900003],
     [-93.26970802499994, 44.95667414600007],
     [-93.26969713399995, 44.956700168000054],
     [-93.26965157999996, 44.956882387000064],
     [-93.26959862599995, 44.95709420900005],
     [-93.26958693899996, 44.95714094500005],
     [-93.26956783799994, 44.957380424000064],
     [-93.26956119099998, 44.95746373700007],
     [-93.26955942299998, 44.958357748000026],
     [-93.26955543899999, 44.95912547100005],
     [-93.26955508899994, 44.95919299700006],
     [-93.26955505399997, 44.959199804000036],
     [-93.26955503099998, 44.95920450600005],
     [-93.26955502399994, 44.959205936000046],
     [-93.26955491799998, 44.95922618700007],
     [-93.26955444699996, 44.95931677800007],
     [-93.26954928899994, 44.96031109300003],
     [-93.26954630399996, 44.96088609100008],
     [-93.26954626099996, 44.960894531000065],
     [-93.26954623299997, 44.96089981800003],
     [-93.26919959199995, 44.960903992000055],
     [-93.26897503699996, 44.96090669400007],
     [-93.26897498199997, 44.96090669400007],
     [-93.26896721099996, 44.960906668000064],
     [-93.26887866499999, 44.96090637000003],
     [-93.26828693399995, 44.960904380000045],
     [-93.26768708899999, 44.960902360000034],
     [-93.26765404899999, 44.96090243300006],
     [-93.26641735299995, 44.96090518300008],
     [-93.26640621099995, 44.96090520700005],
     [-93.26511656399998, 44.96091274500003],
     [-93.26511649899999, 44.96091274500003],
     [-93.26258075899995, 44.96090821400003]]]]}}

In [39]:
# Initalize the dataframe
column_names = ['Neighborhood','Latitude', 'Longitude']
nbhds = pd.DataFrame(columns=column_names)
nhbds

In [41]:
# Fill in the neighborhood names. The latitude and longitude are filled in the next step.
for data in mpls_nbhds:
    nbhd_name = data['properties']['BDNAME']
    nbhds = nbhds.append({'Neighborhood':nbhd_name}, ignore_index=True)

In [51]:
nbhds.head()

        Neighborhood Latitude Longitude
0      Phillips West        1       NaN
1      Downtown West      NaN       NaN
2      Downtown East      NaN       NaN
3    Ventura Village      NaN       NaN
4  Sumner - Glenwood      NaN       NaN

#### Populate the latitude and longitude using Geopy

In [90]:
counter = 0
missing_addresses = []
for nbhd in nbhds['Neighborhood']:
    address = nbhd + ', Minneapolis, MN'
    geolocator = Nominatim(user_agent="mpls_explorer")
    location = geolocator.geocode(address)
    if location is None:
        print(address+' is not found on geopy.')
        missing_addresses = missing_addresses +[nbhd]
    else:
        latitude = location.latitude
        longitude = location.longitude
        nbhds['Latitude'][counter] = latitude
        nbhds['Longitude'][counter] = longitude
    counter+=1
print(missing_addresses)
nbhds.head()

Downtown West, Minneapolis, MN is not found on geopy.
Ventura Village, Minneapolis, MN is not found on geopy.
Humboldt Industrial Area, Minneapolis, MN is not found on geopy.
South Uptown, Minneapolis, MN is not found on geopy.
Mid - City Industrial, Minneapolis, MN is not found on geopy.
Nicollet Island - East Bank, Minneapolis, MN is not found on geopy.
['Downtown West', 'Ventura Village', 'Humboldt Industrial Area', 'South Uptown', 'Mid - City Industrial', 'Nicollet Island - East Bank']

        Neighborhood Latitude Longitude
0      Phillips West  44.9539  -93.2663
1      Downtown West      NaN       NaN
2      Downtown East   44.975  -93.2599
3    Ventura Village      NaN       NaN
4  Sumner - Glenwood  44.9837  -93.2914

There are 6 neighborhoods that Geopy could not identify. We can manually input these by pulling the location data from a google search.

In [92]:
Downtown_West =[44.9742, -93.2733]
Ventura_Village = [44.9618, -93.2582]
Humboldt_Industrial_Area = [45.0421, -93.3077]
South_Uptown = [44.9411, -93.2911]
Mid_City_Industrial = [44.9989, -93.2178]
Nicollet_Island = [44.9879, -93.2629]

missing_latlon = [Downtown_West, Ventura_Village, Humboldt_Industrial_Area, South_Uptown, Mid_City_Industrial, Nicollet_Island]

In [96]:
missing_dict={}
for j in range(0,6):
    entry ={missing_addresses[j]:missing_latlon[j]}
    missing_dict.update(entry)
missing_dict

{'Downtown West': [44.9742, -93.2733],
 'Ventura Village': [44.9618, -93.2582],
 'Humboldt Industrial Area': [45.0421, -93.3077],
 'South Uptown': [44.9411, -93.2911],
 'Mid - City Industrial': [44.9989, -93.2178],
 'Nicollet Island - East Bank': [44.9879, -93.2629]}

In [112]:
# Fill in missing lat/long values into our dataframe
for j in range(0,6):
    value=nbhds.index[nbhds['Neighborhood']==missing_addresses[j]]
    nbhds.loc[value[0], 'Latitude'] = missing_dict[missing_addresses[j]][0]
    nbhds.loc[value[0], 'Longitude'] = missing_dict[missing_addresses[j]][1]

nbhds.head()

        Neighborhood Latitude Longitude
0      Phillips West  44.9539  -93.2663
1      Downtown West  44.9742  -93.2733
2      Downtown East   44.975  -93.2599
3    Ventura Village  44.9618  -93.2582
4  Sumner - Glenwood  44.9837  -93.2914

In [114]:
nbhds.shape

(87, 3)

According to Wikipedia, there are 81 official neighborhoods. Here we tally 87. Some cross-referencing perhaps is in order.

### Use FourSquare API to gather data about venues in the neighborhoods.
#### L

In [158]:
# Define FourSquare credentials
CLIENT_ID = 'JSN5MX1DKF5XI3CXVZADJMU5LZE5FMLT2COF00LRJDFMFWIK' # your Foursquare ID
CLIENT_SECRET = 'ZST1WYPJCG2J2LGQGUER23BPAC1OMF1BKYC4WQKSSRD3WC1T' # your Foursquare Secret
VERSION = '20200604' # Foursquare API version

search_query ='Brewery'

address = 'Minneapolis, MN'
geolocator = Nominatim(user_agent="mpls_explorer")
location = geolocator.geocode(address)
mpls_latitude = location.latitude # neighborhood latitude value
mpls_longitude = location.longitude # neighborhood longitude value

LIMIT = 200
radius = 25000
url = 'https://api.foursquare.com/v2/venues/\
search?client_id={}&client_secret={}\
&ll={},{}&v={}&query={}&radius={}&limit={}'\
.format(CLIENT_ID, CLIENT_SECRET, mpls_latitude, mpls_longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=JSN5MX1DKF5XI3CXVZADJMU5LZE5FMLT2COF00LRJDFMFWIK&client_secret=ZST1WYPJCG2J2LGQGUER23BPAC1OMF1BKYC4WQKSSRD3WC1T&ll=44.9772995,-93.2654692&v=20200604&query=Brewery&radius=25000&limit=200'

In [159]:
results = requests.get(url).json()

In [160]:
venues = results['response']['venues']

# tranform venues into a dataframe
df = json_normalize(venues)
df.head()

/Users/no50free/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  after removing the cwd from sys.path.

,id,name,categories,referralId,hasPerk,location.address,location.crossStreet,location.lat,location.lng,location.labeledLatLngs,...,location.country,location.formattedAddress,venuePage.id,location.neighborhood,delivery.id,delivery.url,delivery.provider.name,delivery.provider.icon.prefix,delivery.provider.icon.sizes,delivery.provider.icon.name
0,41326e00f964a52060171fe3,Minneapolis Town Hall Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,1430 Washington Ave S,3rd St S,44.973320,-93.247628,"[{'label': 'display', 'lat': 44.97332009749321...",...,United States,"[1430 Washington Ave S (3rd St S), Minneapolis...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,55eb2fee498e99d010fbd68b,twincities brewery tours,"[{'id': '4bf58dd8d48988d1f6931735', 'name': 'G...",v-1594759764,False,NaN,NaN,44.978428,-93.265959,"[{'label': 'display', 'lat': 44.978428, 'lng':...",...,United States,"[Minneapolis, MN, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50f3286ce4b0c1f511605e93,Banjo Kid's Downtown Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,521 S 7th St,NaN,44.973312,-93.264725,"[{'label': 'display', 'lat': 44.97331237792969...",...,United States,"[521 S 7th St, Minneapolis, MN 55415, United S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41326e00f964a52008171fe3,The Herkimer Pub & Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,2922 Lyndale Avenue South,btwn W 29th & Lake,44.949214,-93.288244,"[{'label': 'display', 'lat': 44.94921355801643...",...,United States,[2922 Lyndale Avenue South (btwn W 29th & Lake...,40298890,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,52e6ad8c498efd5a184d1105,LynLake Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,2934 Lyndale Ave S,W Lake Street,44.948919,-93.288345,"[{'label': 'display', 'lat': 44.94891907707041...",...,United States,"[2934 Lyndale Ave S (W Lake Street), Minneapol...",87032157,"Lyn Lake, Minneapolis, MN",NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
df.shape

(50, 25)

In [162]:
df

,id,name,categories,referralId,hasPerk,location.address,location.crossStreet,location.lat,location.lng,location.labeledLatLngs,...,location.country,location.formattedAddress,venuePage.id,location.neighborhood,delivery.id,delivery.url,delivery.provider.name,delivery.provider.icon.prefix,delivery.provider.icon.sizes,delivery.provider.icon.name
0,41326e00f964a52060171fe3,Minneapolis Town Hall Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,1430 Washington Ave S,3rd St S,44.973320,-93.247628,"[{'label': 'display', 'lat': 44.97332009749321...",...,United States,"[1430 Washington Ave S (3rd St S), Minneapolis...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,55eb2fee498e99d010fbd68b,twincities brewery tours,"[{'id': '4bf58dd8d48988d1f6931735', 'name': 'G...",v-1594759764,False,NaN,NaN,44.978428,-93.265959,"[{'label': 'display', 'lat': 44.978428, 'lng':...",...,United States,"[Minneapolis, MN, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50f3286ce4b0c1f511605e93,Banjo Kid's Downtown Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,521 S 7th St,NaN,44.973312,-93.264725,"[{'label': 'display', 'lat': 44.97331237792969...",...,United States,"[521 S 7th St, Minneapolis, MN 55415, United S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41326e00f964a52008171fe3,The Herkimer Pub & Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,2922 Lyndale Avenue South,btwn W 29th & Lake,44.949214,-93.288244,"[{'label': 'display', 'lat': 44.94921355801643...",...,United States,[2922 Lyndale Avenue South (btwn W 29th & Lake...,40298890,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,52e6ad8c498efd5a184d1105,LynLake Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,2934 Lyndale Ave S,W Lake Street,44.948919,-93.288345,"[{'label': 'display', 'lat': 44.94891907707041...",...,United States,"[2934 Lyndale Ave S (W Lake Street), Minneapol...",87032157,"Lyn Lake, Minneapolis, MN",NaN,NaN,NaN,NaN,NaN,NaN
5,4ea0d6c400394cc284a862c4,Franklin Terrace Brewery Redux,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,4412 Columbus Ave,NaN,44.922766,-93.264196,"[{'label': 'display', 'lat': 44.92276599999999...",...,United States,"[4412 Columbus Ave, Minneapolis, MN 55407, Uni...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4de30667ae60e7f3abfeadd7,Black & Tan Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,2227 Monroe St NE,NaN,45.010180,-93.252054,"[{'label': 'display', 'lat': 45.01018, 'lng': ...",...,United States,"[2227 Monroe St NE, Minneapolis, MN 55418, Uni...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,45bf30d0f964a5201d421fe3,Granite City Food and Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,851 Rosedale Ctr,NaN,45.012886,-93.169644,"[{'label': 'display', 'lat': 45.01288558042535...",...,United States,"[851 Rosedale Ctr, Roseville, MN 55113, United...",NaN,NaN,2107537,https://www.grubhub.com/restaurant/granite-cit...,grubhub,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_grubhub_20180129.png
8,53953849498e574c69cbeaa0,Bitter Minnesota Brewery Tours,"[{'id': '4bf58dd8d48988d12b951735', 'name': 'B...",v-1594759764,False,345 N 6th Ave,NaN,44.985346,-93.277626,"[{'label': 'display', 'lat': 44.985346, 'lng':...",...,United States,"[345 N 6th Ave, Minneapolis, MN 55401, United ...",87891475,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,507753e6e4b0468862fa41ed,Barrio Truck @ Fulton Brewery,"[{'id': '4bf58dd8d48988d1cb941735', 'name': 'F...",v-1594759764,False,414 6th Ave N,NaN,44.984942,-93.278887,"[{'label': 'display', 'lat': 44.984942, 'lng':...",...,United States,"[414 6th Ave N, Minneapolis, MN 55401, United ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4394028ff964a5207a2b1fe3,Granite City Food & Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,11909 Main St,NaN,45.090694,-93.432026,"[{'label': 'display', 'lat': 45.09069419248610...",...,United States,"[11909 Main St, Maple Grove, MN 55369, United ...",NaN,NaN,2107823,https://www.grubhub.com/restaurant/granite-cit...,grubhub,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_grubhub_20180129.png
11,51ce2416498e864b7f1eaf65,Big Wood Brewery Bull Ride 2013,"[{'id': '4bf58dd8d48988d117941735', 'name': 'B...",v-1594759764,False,NaN,NaN,44.970515,-93.283597,"[{'label': 'display', 'lat': 44.970515, 'lng':...",...,United States,"[Minneapolis, MN, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,4e25aa55b0fbf642a900c734,Schmidt Organic Water - Schmidt's Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,7th St W,NaN,44.929427,-93.124106,"[{'label': 'display', 'lat': 44.92942687955657...",...,United States,"[7th St W, Saint Paul, MN, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4af46fe7f964a52072f221e3,Rock Bottom Restaurant & Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,4300 Glumack Dr,NaN,44.884684,-93.210426,"[{'label': 'display', 'lat': 44.88468408026232...",...,United States,"[4300 Glumack Dr, Saint Paul, MN 55111, United...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,538bf392498e382b6fa108b4,Eastlake Craft Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,920 E Lake St #123,NaN,44.948491,-93.260416,"[{'label': 'display', 'lat': 44.94849101895953...",...,United States,"[920 E Lake St #123, Minneapolis, MN 55407, Un...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,563bdda2cd102a33973c8c97,Able Seedhouse + Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,1121 Quincy St NE,NaN,44.999238,-93.251065,"[{'label': 'display', 'lat': 44.99923753177082...",...,United States,"[1121 Quincy St NE, Minneapolis, MN 55413, Uni...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,59bd5f472bf9a9618cf0bd75,Historic Grain Belt Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,NaN,NaN,44.999260,-93.272650,"[{'label': 'display', 'lat': 44.99926, 'lng': ...",...,United States,"[Minneapolis, MN 55413, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,4e3985d3bd418bd4ba44c972,Grainbelt Brewery Warehouse,"[{'id': '4bf58dd8d48988d17f941735', 'name': 'M...",v-1594759764,False,77 13th Ave NE,NaN,44.999921,-93.271140,"[{'label': 'display', 'lat': 44.999921, 'lng':...",...,United States,"[77 13th Ave NE, Minneapolis, MN 55413, United...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,4eed4405f9ab8c5a0182e7a3,Dropkick Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,2200 Bryant Ave,22nd St,44.960702,-93.290936,"[{'label': 'display', 'lat': 44.96070200718935...",...,United States,"[2200 Bryant Ave (22nd St), Minneapolis, MN 55...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,5aa9baebff03062a4b1dccba,Finnegans House,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,817 5th Ave S,btwn S 8th & 9th St,44.972301,-93.266410,"[{'label': 'display', 'lat': 44.97230088563604...",...,United States,"[817 5th Ave S (btwn S 8th & 9th St), Minneapo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,438c0e1af964a520272b1fe3,Granite City Food And Brewery,"[{'id': '4bf58dd8d48988d14e941735', 'name': 'A...",v-1594759764,False,3330 Pilot Knob Rd,NaN,44.836448,-93.166587,"[{'label': 'display', 'lat': 44.83644771172064...",...,United States,"[3330 Pilot Knob Rd, Eagan, MN 55121, United S...",NaN,NaN,2107632,https://www.grubhub.com/restaurant/granite-cit...,grubhub,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_grubhub_20180129.png
21,5583704a498e75545f03923d,Beardick Head Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,1723 Girard Ave N Bsmt,NaN,44.997124,-93.297539,"[{'label': 'display', 'lat': 44.99712371826172...",...,United States,"[1723 Girard Ave N Bsmt, Minneapolis, MN 55411...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4f4ac11ae4b0d5cfa0a43439,Frowny-Face Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,2200 Humboldt Ave S,22nd Ave S.,44.960776,-93.298594,"[{'label': 'display', 'lat': 44.960776, 'lng':...",...,United States,"[2200 Humboldt Ave S (22nd Ave S.), Minneapoli...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,4c8d128bc37a6dcb86d0fc7a,Fulton Brewing Company,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,414 6th Ave N,at 5th St. N,44.984862,-93.278828,"[{'label': 'display', 'lat': 44.98486196804921...",...,United States,"[414 6th Ave N (at 5th St. N), Minneapolis, MN...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,5ca94385a8eb60002cf59087,"The Lab - Brewery, Pilot Facility & Taproom","[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,767 Eustis St Ste 115,NaN,44.962073,-93.202932,"[{'label': 'display', 'lat': 44.962073, 'lng':...",...,United States,"[767 Eustis St Ste 115, Saint Paul, MN 55114, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,550e715f498ec3177dd278c6,LynLake Brewery,[],v-1594759764,False,NaN,NaN,44.948899,-93.288509,"[{'label': 'display', 'lat': 44.948899, 'lng':...",...,United States,"[Minneapolis, MN, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,5039872ae4b0e2a7db128fb0,Du Nord Brewery,"[{'id': '4eb1bea83b7b6f98df247e06', 'name': 'F...",v-1594759764,False,NaN,NaN,44.946533,-93.292332,"[{'label': 'display', 'lat': 44.94653282488632...",...,United States,"[Minneapolis, MN 55408, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,4f3fd582e4b059e3cc4c9d62,August Schell's Brewing Co,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,1860 Schells Rd N,S Franklin Street,44.970105,-93.271063,"[{'label': 'display', 'lat': 44.97010523156265...",...,United States,"[1860 Schells Rd N (S Franklin Street), Saint ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,54e52a6a498edb2c074460da,Chemiclyst Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,2885 James Ave S,NaN,44.949752,-93.302987,"[{'label': 'display', 'lat': 44.94975200000000...",...,United States,"[2885 James Ave S, Minneapolis, MN 55408, Unit...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,57cf59cd498e98e85618bc9e,Fair State Co-op Production Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,2075 Ellis Ave,NaN,44.967841,-93.186807,"[{'label': 'display', 'lat': 44.967841, 'lng':...",...,United States,"[2075 Ellis Ave, Saint Paul, MN 55114, United ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,534f0ab911d2e239174741ac,Fulton Brewery,"[{'id': '52e81612bcbc57f1066b7a37', 'name': 'D...",v-1594759764,False,2540 2nd St NE,NaN,45.014661,-93.266477,"[{'label': 'display', 'lat': 45.01466131504523...",...,United States,"[2540 2nd St NE, Minneapolis, MN 55418, United...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,53fbb36b498e1c681f656a1f,Blackhoof Brewery,"[{'id': '4bf58dd8d48988d155941735', 'name': 'G...",v-1594759764,False,NaN,NaN,44.979879,-93.197400,"[{'label': 'display', 'lat': 44.979879, 'lng':...",...,United States,"[Saint Paul, MN, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,50a85280e4b0445d6693e785,31oh1 Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,NaN,NaN,44.943512,-93.304687,"[{'label': 'display', 'lat': 44.943512, 'lng':...",...,United States,"[Minneapolis, MN 55408, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,4d857a8581fdb1f7b96613c0,Woody's Brewery,"[{'id': '4bf58dd8d48988d117941735', 'name': 'B...",v-1594759764,False,3438 2-1/2 street,NaN,45.031451,-93.265672,"[{'label': 'display', 'lat': 45.03145118235314...",...,United States,"[3438 2-1/2 street, Minneapolis, MN 55418, Uni...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,4f91b151e4b023d6c746ae68,Granite City Food & Brewery Corporate Office,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1594759764,False,NaN,NaN,44.973886,-93.350975,"[{'label': 'display', 'lat': 44.973886, 'lng':...",...,United States,"[Minneapolis, MN 55416, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,4de99529ae60e9892342bef8,Homeshaker Brewery,[],v-1594759764,False,NaN,NaN,44.918505,-93.254078,"[{'label': 'display', 'lat': 44.918505, 'lng':...",...,United States,"[Minneapolis, MN, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,4ca75d40931bb60cd96f9ce2,Grain Belt Apartments,"[{'id': '4d954b06a243a5684965b473', 'name': 'R...",v-1594759764,False,1215 Marshall St NE,13th,45.000011,-93.271070,"[{'label': 'display', 'lat': 45.00001107560632...",...,United States,"[1215 Marshall St NE (13th), Minneapolis, MN 5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,4d1e8dce16cfb60cdcc54961,Tangletown Brewery,[],v-1594759764,False,NaN,NaN,44.913052,-93.283913,"[{'label': 'display', 'lat': 44.913052, 'lng':...",...,United States,"[Minnesota, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,5b7f278a037be1002ce2b702,La Dona Cerveceri­a,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,241 Fremont Ave N,NaN,44.979734,-93.295957,"[{'label': 'display', 'lat': 44.97973386432073...",...,United States,"[241 Fremont Ave N, Minneapolis, MN 55405, Uni...",NaN,NaN,2033744,https://www.grubhub.com/restaurant/la-dona-241...,grubhub,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_grubhub_20180129.png
39,4a0f271ef964a52035761fe3,Grain Belt Studios,"[{'id': '4bf58dd8d48988d1e2931735', 'name': 'A...",v-1594759764,False,77 & 79 13 Ave NE,Marshall St NE,44.999973,-93.271239,"[{'label': 'display', 'lat': 44.99997281451994...",...,United States,"[77 & 79 13 Ave NE (Marshall St NE), Minneapol...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,54961c11498e89679c2bc545,Bruce's Backdoor Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,NaN,NaN,44.903912,-93.184738,"[{'label': 'display', 'lat': 44.903912, 'lng':...",...,United States,"[Saint Paul, MN, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,51f34be2498e3fdd7ad20619,Kessler Brewery,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",v-1594759764,False,NaN,NaN,44.927864,-93.186726,"[{'label': 'display', 'lat': 44.927864, 'lng':...",...,United States,"[Saint Paul, MN, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,532788e1498e42fea8b03e66,Quatro Valas Smokehouse and Brewery,"[{'id': '4bf58dd8d48988d11b941735', 'name': 'P...",v-1594759764,False,NaN,NaN,45.031060,-93.342439,"[{'label': 'display', 'lat': 45.03106042698766...",...,United States,"[New Hope, MN, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,51f9ca55498e4f3ef4b9818a,Blunderbuss Brewery,"[{'id': '4bf58dd8d48988d11b941735', 'name': 'P...",v-1594759764,False,NaN,NaN,44.898022,-93.322944,"[{'label': 'display', 'lat': 44.8980217350037,...",...,United States,"[Edina, MN, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,59386d737269fe69a7986d7b,Waldmann Brewery & Wurstery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,445 Smith Ave N,NaN,44.938302,-93.109568,"[{'label': 'display', 'lat': 44.93830193069715...",...,United States,"[445 Smith Ave N, Saint Paul, MN 55102, United...",NaN,West Seventh,NaN,NaN,NaN,NaN,NaN,NaN
45,51fdd026498e30e098d21be0,Derkastrom's Garden Brewery,"[{'id': '4bf58dd8d48988d15a941735', 'name': 'G...",v-1594759764,False,NaN,NaN,44.903788,-93.217141,"[{'label': 'display', 'lat': 44.903788, 'lng':...",...,United States,"[Minneapolis, MN, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,4f3dcd09e4b0e4bab927d3d6,Indeed Brewing Company,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,711 15th Ave NE Ste 102,Monroe St NE,45.003368,-93.251563,"[{'label': 'display', 'lat': 45.00336770554316...",...,United States,"[711 15th Ave NE Ste 102 (Monroe St NE), Minne...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,54691d87498e1b95c06b1caa,Dead Bear Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,NaN,NaN,45.058820,-93.308687,"[{'label': 'display', 'lat': 45.05881993442972...",...,United States,"[Brooklyn Center, MN 55430, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,54cd6429498e5239f97e4693,Gastrotruck @ Dangerous Man Brewery,"[{'id': '4bf58dd8d48988d1cb941735', 'name': 'F...",v-1594759764,False,NaN,NaN,44.898927,-93.329854,"[{'label': 'display', 'lat': 44.89892678912602...",...,United States,"[Minneapolis, MN, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,507c96b5e4b076bc194e49ec,Brigs & Holls Brewery,"[{'id': '50327c8591d4c4b30a586d5d', 'name': 'B...",v-1594759764,False,7544 11th Ave S,NaN,44.865702,-93.259631,"[{'label': 'display', 'lat': 44.865702, 'lng':...",...,United States,"[7544 11th Ave S, Richfield, MN 55423, United ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN