In [2]:
import pandas as pd
import numpy as np

In [3]:
# From http://www.mncompass.org/profiles/neighborhoods/minneapolis-saint-paul
df=pd.read_csv('profile_download_file_msp_neighborhoods_2014_2018.csv')
df.head()

,Neighborhood,City,﻿Total population,Total population - Margin of error,Total population - Share,Total population - Share - Margin of error,Male,Male - Margin of error,Male - Share,Male - Share - Margin of error,...,Workers high school or equivalent (no college),Workers high school or equivalent (no college) - Share,Workers some college or associates degree,Workers some college or associates degree (Share),Workers bachelor's degree or advanced degree,Workers bachelor's degree or advanced degree - Share,Workers Male,Workers Male - Share,Workers Female,Workers Female - Share
0,Armatage,Minneapolis,5101,346,100%,6.80%,2568,237,50.40%,4.70%,...,505,17.40%,764,26.40%,992,34.20%,1410,48.60%,1488,51.40%
1,Audubon Park,Minneapolis,4421,287,100%,6.50%,2205,214,49.90%,4.80%,...,484,17.40%,683,24.50%,699,25.10%,1393,50.10%,1390,49.90%
2,Bancroft,Minneapolis,3609,274,100%,7.60%,1901,182,52.70%,5.00%,...,386,18.10%,521,24.40%,602,28.20%,991,46.50%,1142,53.50%
3,Battle Creek-Highwood,St. Paul,58578,1314,100%,2.20%,29495,915,50.40%,1.60%,...,4761,17.70%,6039,22.40%,6193,23.00%,13153,48.90%,13765,51.10%
4,Cedar Riverside,Minneapolis,10065,866,100%,8.60%,4961,717,49.30%,7.10%,...,499,17.40%,572,19.90%,467,16.30%,1383,48.20%,1486,51.80%

In [22]:
df1=pd.read_csv('profile_download_file_msp_neighborhoods_2010.csv')
print(df1.shape)
df1.head()

(27, 244)

,Neighborhood,City,﻿Total population,Total population - Share,White,White - Share,Of Color,Of Color - Share,Black or African American,Black or African American - Share,...,Workers high school or equivalent (no college),Workers high school or equivalent (no college) - Share,Workers some college or associates degree,Workers some college or associates degree (Share),Workers bachelor's degree or advanced degree,Workers bachelor's degree or advanced degree - Share,Workers Male,Workers Male - Share,Workers Female,Workers Female - Share
0,Marshall Terrace,Minneapolis,1429,100%,1031,72.10%,459,32.10%,141,9.90%,...,157,18.20%,199,23.10%,211,24.50%,457,52.90%,406,47.10%
1,Cleveland,Minneapolis,3025,100%,1599,52.90%,1497,49.50%,890,29.40%,...,353,19.40%,467,25.60%,454,24.90%,850,46.60%,973,53.40%
2,Shingle Creek,Minneapolis,3031,100%,1382,45.60%,1763,58.20%,753,24.80%,...,319,19.60%,407,25.00%,310,19.00%,732,44.90%,899,55.10%
3,Morris Park,Minneapolis,2819,100%,2205,78.20%,716,25.40%,209,7.40%,...,333,19.60%,399,23.40%,465,27.30%,794,46.70%,908,53.30%
4,Downtown East,Minneapolis,1271,100%,836,65.70%,466,36.70%,240,18.90%,...,139,13.80%,192,19.00%,326,32.30%,574,56.80%,436,43.20%

In [23]:
df1.to_csv('nbhds_demo_small')

In [24]:
print(df.shape)
print(df1.shape)

(73, 556)
(27, 244)

In [31]:
print(len(set(df1.columns) - set(df.columns)))
print(len(set(df.columns) - set(df1.columns)))

124
436

In [35]:
print(df1.columns.intersection(df.columns))
print(df.columns.intersection(df1.columns))

Index(['Neighborhood', 'City', '﻿Total population', 'Total population - Share',
       'White', 'White - Share', 'Of Color', 'Of Color - Share',
       'Black or African American', 'Black or African American - Share',
       ...
       'Workers high school or equivalent  (no college)',
       'Workers high school or equivalent (no college) - Share',
       'Workers some college or associates degree',
       'Workers some college or associates degree (Share)',
       'Workers bachelor's degree or advanced degree',
       'Workers bachelor's degree or advanced degree - Share', 'Workers Male',
       'Workers Male - Share', 'Workers Female', 'Workers Female - Share'],
      dtype='object', length=120)
Index(['Neighborhood', 'City', '﻿Total population', 'Total population - Share',
       'White', 'White - Share', 'Of Color', 'Of Color - Share',
       'Black or African American', 'Black or African American - Share',
       ...
       'Workers high school or equivalent  (no college)',
       'Workers high school or equivalent (no college) - Share',
       'Workers some college or associates degree',
       'Workers some college or associates degree (Share)',
       'Workers bachelor's degree or advanced degree',
       'Workers bachelor's degree or advanced degree - Share', 'Workers Male',
       'Workers Male - Share', 'Workers Female', 'Workers Female - Share'],
      dtype='object', length=120)

In [40]:
df.drop(columns=(set(df.columns) - set(df1.columns)), inplace=True)

In [41]:
df1.drop(columns=(set(df1.columns) - set(df.columns)), inplace=True)

In [42]:
set(df.columns)==set(df1.columns)

True

In [43]:
df=pd.concat([df,df1]).reset_index(drop=True)
print(df.shape)
df.head()

TypeError: 'tuple' object is not callable

In [47]:
df.head()

,Neighborhood,City,﻿Total population,Total population - Share,White,White - Share,Of Color,Of Color - Share,Black or African American,Black or African American - Share,...,Workers high school or equivalent (no college),Workers high school or equivalent (no college) - Share,Workers some college or associates degree,Workers some college or associates degree (Share),Workers bachelor's degree or advanced degree,Workers bachelor's degree or advanced degree - Share,Workers Male,Workers Male - Share,Workers Female,Workers Female - Share
0,Armatage,Minneapolis,5101,100%,4316,84.60%,784,15.40%,186,3.60%,...,505,17.40%,764,26.40%,992,34.20%,1410,48.60%,1488,51.40%
1,Audubon Park,Minneapolis,4421,100%,3474,78.60%,947,21.40%,323,7.30%,...,484,17.40%,683,24.50%,699,25.10%,1393,50.10%,1390,49.90%
2,Bancroft,Minneapolis,3609,100%,2649,73.40%,960,26.60%,412,11.40%,...,386,18.10%,521,24.40%,602,28.20%,991,46.50%,1142,53.50%
3,Battle Creek-Highwood,St. Paul,58578,100%,30369,51.80%,28209,48.20%,9867,16.80%,...,4761,17.70%,6039,22.40%,6193,23.00%,13153,48.90%,13765,51.10%
4,Cedar Riverside,Minneapolis,10065,100%,3219,32.00%,6846,68.00%,5146,51.10%,...,499,17.40%,572,19.90%,467,16.30%,1383,48.20%,1486,51.80%

In [46]:
for j in df.columns:
    print(j)

Neighborhood
City
﻿Total population
Total population - Share
White
White - Share
Of Color
Of Color - Share
Black or African American
Black or African American - Share
American Indian and Alaska Native
American Indian and Alaska Native - Share
Asian or Pacific Islander
Asian or Pacific Islander - Share
Other race
Other race - Share
Two or more races
Two or more races - Share
Hispanic or Latino
Hispanic or Latino - Share
Total housing units
Total housing units - Share
Family households
Family households - Share
With children under 18 years
With children under 18 years - Share
With children under 18 years.1
With children under 18 years - Share.1
Nonfamily households
Nonfamily households - Share
Vacant housing units
Vacant housing units - Share
Occupied housing units
Occupied housing units - Share
Owner-occupied
Owner-occupied - Share
Renter-occupied
Renter-occupied - Share
Total Employed Workers
Total Employed Workers - Share
Worker Age 29 or younger
Worker Age 29 or younger - Share
Worker Age 30 to 54
Worker Age 30 to 54 - Share
Worker Age 55 or older
Worker Age 55 or older - Share
Workers $15000 per year or less
Workers $15000 per year or less - Share
Workers $15001 to $39999 per year
Workers $15001 to $39999 per year - Share
Workers $40000 or more per year
Workers $40000 or more per year - Share
Agriculture; forestry; fishing and hunting
Agriculture; forestry; fishing and hunting - Share
Mining; quarrying; and oil and gas extraction
Mining; quarrying; and oil and gas extraction - Share
Utilities
Utilities - Share
Construction
Construction - Share
Manufacturing
Manufacturing - Share
Wholesale trade
Wholesale trade - Share
Retail trade
Retail trade - Share
Transportation and warehousing
Transportation and warehousing - Share
Information
Information - Share
Finance and insurance
Finance and insurance - Share
Real estate and rental and leasing
Real estate and rental and leasing - Share
Professional; scientific; and technical services
Professional; scientific; and technical services - Share
Management of companies and enterprises
Management of companies and enterprises - Share
Administration & supports; waste management; and remediation
Administration & supports; waste management; and remediation - Share
Educational Services
Educational Services - Share
Health care and social assistance
Health care and social assistance - Share
Arts; entertainment; and recreation
Arts; entertainment; and recreation - Share
Accommodation and food services
Accommodation and food services - Share
Other services (excluding public administration)
Other services (excluding public administration) - Share
Public administration
Public administration - Share
Workers White alone
Workers White alone - Share
Workers Black or African American alone
Workers Black or African American alone - Share
Workers American Indian or Alaska Native alone
Workers American Indian or Alaska Native alone - Share
Workers Asian alone
Workers Asian alone - Share
Workers Native Hawaiian or Other Pacific Islander alone
Workers Native Hawaiian or Other Pacific Islander alone - Share
Workers Two or more race
Workers Two or more race - Share
Workers Not Hispanic or Latino
Workers Not Hispanic or Latino - Share
Workers Hispanic or Latino
Workers Hispanic or Latino - Share
Workers less than high school
Workers less than high school - Share
Workers high school or equivalent  (no college)
Workers high school or equivalent (no college) - Share
Workers some college or associates degree
Workers some college or associates degree (Share)
Workers bachelor's degree or advanced degree
Workers bachelor's degree or advanced degree - Share
Workers Male
Workers Male - Share
Workers Female
Workers Female - Share

In [ ]:
UofM = {'Neighborhood': 'University of Minnesota',
'City': 5421,
'Total population
Total population - Share
White
White - Share
Of Color
Of Color - Share
Black or African American
Black or African American - Share
American Indian and Alaska Native
American Indian and Alaska Native - Share
Asian or Pacific Islander
Asian or Pacific Islander - Share
Other race
Other race - Share
Two or more races
Two or more races - Share
Hispanic or Latino
Hispanic or Latino - Share
Total housing units
Total housing units - Share
Family households
Family households - Share
With children under 18 years
With children under 18 years - Share
With children under 18 years.1
With children under 18 years - Share.1
Nonfamily households
Nonfamily households - Share
Vacant housing units
Vacant housing units - Share
Occupied housing units
Occupied housing units - Share
Owner-occupied
Owner-occupied - Share
Renter-occupied
Renter-occupied - Share
Total Employed Workers
Total Employed Workers - Share
Worker Age 29 or younger
Worker Age 29 or younger - Share
Worker Age 30 to 54
Worker Age 30 to 54 - Share
Worker Age 55 or older
Worker Age 55 or older - Share
Workers $15000 per year or less
Workers $15000 per year or less - Share
Workers $15001 to $39999 per year
Workers $15001 to $39999 per year - Share
Workers $40000 or more per year
Workers $40000 or more per year - Share
Agriculture; forestry; fishing and hunting
Agriculture; forestry; fishing and hunting - Share
Mining; quarrying; and oil and gas extraction
Mining; quarrying; and oil and gas extraction - Share
Utilities
Utilities - Share
Construction
Construction - Share
Manufacturing
Manufacturing - Share
Wholesale trade
Wholesale trade - Share
Retail trade
Retail trade - Share
Transportation and warehousing
Transportation and warehousing - Share
Information
Information - Share
Finance and insurance
Finance and insurance - Share
Real estate and rental and leasing
Real estate and rental and leasing - Share
Professional; scientific; and technical services
Professional; scientific; and technical services - Share
Management of companies and enterprises
Management of companies and enterprises - Share
Administration & supports; waste management; and remediation
Administration & supports; waste management; and remediation - Share
Educational Services
Educational Services - Share
Health care and social assistance
Health care and social assistance - Share
Arts; entertainment; and recreation
Arts; entertainment; and recreation - Share
Accommodation and food services
Accommodation and food services - Share
Other services (excluding public administration)
Other services (excluding public administration) - Share
Public administration
Public administration - Share
Workers White alone
Workers White alone - Share
Workers Black or African American alone
Workers Black or African American alone - Share
Workers American Indian or Alaska Native alone
Workers American Indian or Alaska Native alone - Share
Workers Asian alone
Workers Asian alone - Share
Workers Native Hawaiian or Other Pacific Islander alone
Workers Native Hawaiian or Other Pacific Islander alone - Share
Workers Two or more race
Workers Two or more race - Share
Workers Not Hispanic or Latino
Workers Not Hispanic or Latino - Share
Workers Hispanic or Latino
Workers Hispanic or Latino - Share
Workers less than high school
Workers less than high school - Share
Workers high school or equivalent  (no college)
Workers high school or equivalent (no college) - Share
Workers some college or associates degree
Workers some college or associates degree (Share)
Workers bachelor's degree or advanced degree
Workers bachelor's degree or advanced degree - Share
Workers Male
Workers Male - Share
Workers Female
Workers Female - Share}