# Coursera Capstone
## The Battle of the Neighborhoods
This document will be used for the Coursera Capstone project, part of the IBM Data Science Professional Certificate.

In [55]:
import pandas as pd
import numpy as np

import json # library to handle JSON files

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

### Create a dataframe of neighborhoods in Minneapolis
As far as I could tell, the data for Minneapolis neighborhoods did not come attached with latitude and longitude values. The following section creates a dataframe with neighborhood names and attached lat/long values.

In [4]:
# Data retrieved from
# https://opendata.minneapolismn.gov/datasets/minneapolis-neighborhoods
# Data downloaded and placed in local directory

with open('Minneapolis_Neighborhoods.geojson.json') as jsondata:
    mpls_data = json.load(jsondata)

Define `mpls_nbhds` to be the features of the geojson file imported above.

In [6]:
mpls_nbhds = mpls_data['features']

In [7]:
# Look at the first entry. Note the neighborhood name has key 'BDNAME'.
mpls_nbhds[0]

{'type': 'Feature',
 'properties': {'FID': 1,
  'BDNAME': 'Phillips West',
  'BDNUM': '90',
  'TEXT_NBR': '90',
  'Shape_STAr': 10669249.7418,
  'Shape_STLe': 14403.8859339,
  'NCR_LINK': 'http://www.nrp.org/r2/Neighborhoods/Orgs/PHW.html',
  'IMAGE': 'PHW',
  'SHAPE_Length': 0.04580106358679052,
  'SHAPE_Area': 0.00011302161937450821},
 'geometry': {'type': 'MultiPolygon',
  'coordinates': [[[[-93.26258075899995, 44.96090821400003],
     [-93.26258068799996, 44.960896674000026],
     [-93.26257007799995, 44.95912773800006],
     [-93.26257006199995, 44.959125131000064],
     [-93.26257002699998, 44.95911920300006],
     [-93.26257002299997, 44.95911835000004],
     [-93.26257002199998, 44.95911830400007],
     [-93.26257006099996, 44.95909969500008],
     [-93.26257174699998, 44.95830091700003],
     [-93.26257379799995, 44.95732838600003],
     [-93.26257385099996, 44.95732643300005],
     [-93.26257396599999, 44.957322271000066],
     [-93.26257794099996, 44.95717704200007],
     [-93.26259322499999, 44.956618751000065],
     [-93.26262280499998, 44.95553821500005],
     [-93.26262293199994, 44.95553358300003],
     [-93.26262293099995, 44.95553345600007],
     [-93.26262292599995, 44.95552397200004],
     [-93.26262227099994, 44.954453313000045],
     [-93.26262184099994, 44.95375352900004],
     [-93.26262184099994, 44.95375346900005],
     [-93.26262183299997, 44.95374139900008],
     [-93.26262186599996, 44.95373722700003],
     [-93.26263352099994, 44.95225792000008],
     [-93.26263371599998, 44.95223306200006],
     [-93.26263594699998, 44.95195005200003],
     [-93.26263594699998, 44.95194998900007],
     [-93.26263597699995, 44.95194633300008],
     [-93.26263597799999, 44.95194614300004],
     [-93.26263810799998, 44.951761532000035],
     [-93.26265449699997, 44.95034078500004],
     [-93.26265764499999, 44.95006788200004],
     [-93.26265947, 44.949910454000076],
     [-93.26267731399997, 44.94837099800003],
     [-93.26267731399997, 44.948370913000076],
     [-93.26267737899997, 44.948365366000075],
     [-93.26267738799999, 44.94836451600003],
     [-93.26267747599996, 44.948357],
     [-93.26268119899999, 44.94835698800006],
     [-93.26272154499998, 44.94835686700003],
     [-93.26272779799996, 44.94835684800006],
     [-93.26392635699995, 44.948353231000056],
     [-93.26395226099999, 44.94835315300003],
     [-93.26437808199995, 44.94835521600004],
     [-93.26521003, 44.94835924100005],
     [-93.26521009899994, 44.94835924000006],
     [-93.26622271699995, 44.948353362000034],
     [-93.26650418699995, 44.948351727000045],
     [-93.26650429599994, 44.948351727000045],
     [-93.26685150199995, 44.94835238400003],
     [-93.26726110699997, 44.94835315700004],
     [-93.26776079499996, 44.94835409700005],
     [-93.26776113799997, 44.94835409800004],
     [-93.26801190099997, 44.94835335000005],
     [-93.26805069599999, 44.94835323400008],
     [-93.26890086499998, 44.948350693000066],
     [-93.26902828399994, 44.94835031000008],
     [-93.26902839199994, 44.94835031000008],
     [-93.27030249399996, 44.94835180200005],
     [-93.27030278299998, 44.94835180200005],
     [-93.27159584799995, 44.94835323500007],
     [-93.27159618899998, 44.94835323500007],
     [-93.27184137499995, 44.94835352900003],
     [-93.27285428, 44.948354737000045],
     [-93.27285433999998, 44.948354737000045],
     [-93.27409466399996, 44.948356266000076],
     [-93.27411962199994, 44.948356208000064],
     [-93.27414039999996, 44.94835615800008],
     [-93.27454145099995, 44.948355194000044],
     [-93.27460334799997, 44.94835504500003],
     [-93.27472094499996, 44.948354762000065],
     [-93.27472315799997, 44.94835475700006],
     [-93.27475575199998, 44.94835467900003],
     [-93.27475575299997, 44.94835481700005],
     [-93.27475581999994, 44.948362702000054],
     [-93.27475854499994, 44.94867595300008],
     [-93.27476241099998, 44.94894297400003],
     [-93.27473919, 44.94923804800004],
     [-93.27473553399994, 44.94928448300004],
     [-93.27472230299998, 44.94934795000006],
     [-93.274705, 44.94943095800005],
     [-93.27470040699995, 44.94945298400006],
     [-93.274687, 44.949517300000025],
     [-93.27466454499995, 44.94962785000007],
     [-93.27464727899996, 44.94971286800006],
     [-93.27462618399994, 44.949780529000066],
     [-93.27458723099994, 44.949905458000046],
     [-93.27455050199995, 44.95002326000008],
     [-93.27447138099996, 44.950243629000056],
     [-93.27437784399996, 44.95045141300005],
     [-93.27434843999998, 44.95051673900008],
     [-93.27424314299998, 44.95070603400006],
     [-93.27420241099998, 44.95077360200003],
     [-93.27411594199998, 44.95091704300006],
     [-93.27403205599995, 44.951048472000025],
     [-93.27399314999997, 44.95110942600007],
     [-93.27380464499998, 44.951366947000054],
     [-93.27379678599999, 44.95137626600007],
     [-93.27367265999999, 44.95152345200006],
     [-93.27365689799996, 44.95154214100006],
     [-93.27362935099995, 44.951574805000064],
     [-93.27357883099995, 44.95163527700004],
     [-93.27338831499998, 44.951863323000055],
     [-93.27331983799996, 44.95194751200006],
     [-93.27331243099997, 44.95195662000003],
     [-93.27313849499996, 44.952170462000026],
     [-93.27311939199996, 44.952193771000054],
     [-93.27302764499996, 44.95230571500008],
     [-93.27297226, 44.95237329200006],
     [-93.27280540299995, 44.952576875000034],
     [-93.27246949799996, 44.95297229200003],
     [-93.27241536299994, 44.953036015000066],
     [-93.27212172999998, 44.95338347300003],
     [-93.27196144799996, 44.953576131000034],
     [-93.27180221199995, 44.953767533000075],
     [-93.27165715199999, 44.953941892000046],
     [-93.27134597999998, 44.95430795900006],
     [-93.27089613399994, 44.95485347500005],
     [-93.27087110499997, 44.95488382700006],
     [-93.27071920199995, 44.955068030000064],
     [-93.27071589099995, 44.95507227000007],
     [-93.27069674099994, 44.955096783000045],
     [-93.27044014699999, 44.95542526100007],
     [-93.27042110899998, 44.95544963300006],
     [-93.27042042499994, 44.95545061000007],
     [-93.27041085899998, 44.95546431500003],
     [-93.27040271899995, 44.95547597700005],
     [-93.27036818199997, 44.95552545600003],
     [-93.27036321699995, 44.95553256800008],
     [-93.27031525899997, 44.955601270000045],
     [-93.27012484499994, 44.955874050000034],
     [-93.27007273699996, 44.95594869900003],
     [-93.27006591299994, 44.955958474000056],
     [-93.27003674099996, 44.95600963800007],
     [-93.26999916499994, 44.95607553800005],
     [-93.26990881899997, 44.956233989000054],
     [-93.26984651499998, 44.95634325800006],
     [-93.26982008699997, 44.956406403000074],
     [-93.26979100799997, 44.95647588200006],
     [-93.26974614499994, 44.95658306900003],
     [-93.26970802499994, 44.95667414600007],
     [-93.26969713399995, 44.956700168000054],
     [-93.26965157999996, 44.956882387000064],
     [-93.26959862599995, 44.95709420900005],
     [-93.26958693899996, 44.95714094500005],
     [-93.26956783799994, 44.957380424000064],
     [-93.26956119099998, 44.95746373700007],
     [-93.26955942299998, 44.958357748000026],
     [-93.26955543899999, 44.95912547100005],
     [-93.26955508899994, 44.95919299700006],
     [-93.26955505399997, 44.959199804000036],
     [-93.26955503099998, 44.95920450600005],
     [-93.26955502399994, 44.959205936000046],
     [-93.26955491799998, 44.95922618700007],
     [-93.26955444699996, 44.95931677800007],
     [-93.26954928899994, 44.96031109300003],
     [-93.26954630399996, 44.96088609100008],
     [-93.26954626099996, 44.960894531000065],
     [-93.26954623299997, 44.96089981800003],
     [-93.26919959199995, 44.960903992000055],
     [-93.26897503699996, 44.96090669400007],
     [-93.26897498199997, 44.96090669400007],
     [-93.26896721099996, 44.960906668000064],
     [-93.26887866499999, 44.96090637000003],
     [-93.26828693399995, 44.960904380000045],
     [-93.26768708899999, 44.960902360000034],
     [-93.26765404899999, 44.96090243300006],
     [-93.26641735299995, 44.96090518300008],
     [-93.26640621099995, 44.96090520700005],
     [-93.26511656399998, 44.96091274500003],
     [-93.26511649899999, 44.96091274500003],
     [-93.26258075899995, 44.96090821400003]]]]}}

In [39]:
# Initalize the dataframe
column_names = ['Neighborhood','Latitude', 'Longitude']
nbhds = pd.DataFrame(columns=column_names)
nhbds

In [41]:
# Fill in the neighborhood names. The latitude and longitude are filled in the next step.
for data in mpls_nbhds:
    nbhd_name = data['properties']['BDNAME']
    nbhds = nbhds.append({'Neighborhood':nbhd_name}, ignore_index=True)

In [51]:
nbhds.head()

        Neighborhood Latitude Longitude
0      Phillips West        1       NaN
1      Downtown West      NaN       NaN
2      Downtown East      NaN       NaN
3    Ventura Village      NaN       NaN
4  Sumner - Glenwood      NaN       NaN

#### Populate the latitude and longitude using Geopy

In [90]:
counter = 0
missing_addresses = []
for nbhd in nbhds['Neighborhood']:
    address = nbhd + ', Minneapolis, MN'
    geolocator = Nominatim(user_agent="mpls_explorer")
    location = geolocator.geocode(address)
    if location is None:
        print(address+' is not found on geopy.')
        missing_addresses = missing_addresses +[nbhd]
    else:
        latitude = location.latitude
        longitude = location.longitude
        nbhds['Latitude'][counter] = latitude
        nbhds['Longitude'][counter] = longitude
    counter+=1
print(missing_addresses)
nbhds.head()

Downtown West, Minneapolis, MN is not found on geopy.
Ventura Village, Minneapolis, MN is not found on geopy.
Humboldt Industrial Area, Minneapolis, MN is not found on geopy.
South Uptown, Minneapolis, MN is not found on geopy.
Mid - City Industrial, Minneapolis, MN is not found on geopy.
Nicollet Island - East Bank, Minneapolis, MN is not found on geopy.
['Downtown West', 'Ventura Village', 'Humboldt Industrial Area', 'South Uptown', 'Mid - City Industrial', 'Nicollet Island - East Bank']

        Neighborhood Latitude Longitude
0      Phillips West  44.9539  -93.2663
1      Downtown West      NaN       NaN
2      Downtown East   44.975  -93.2599
3    Ventura Village      NaN       NaN
4  Sumner - Glenwood  44.9837  -93.2914

There are 6 neighborhoods that Geopy could not identify. We can manually input these by pulling the location data from a google search.

In [92]:
Downtown_West =[44.9742, -93.2733]
Ventura_Village = [44.9618, -93.2582]
Humboldt_Industrial_Area = [45.0421, -93.3077]
South_Uptown = [44.9411, -93.2911]
Mid_City_Industrial = [44.9989, -93.2178]
Nicollet_Island = [44.9879, -93.2629]

missing_latlon = [Downtown_West, Ventura_Village, Humboldt_Industrial_Area, South_Uptown, Mid_City_Industrial, Nicollet_Island]

In [96]:
missing_dict={}
for j in range(0,6):
    entry ={missing_addresses[j]:missing_latlon[j]}
    missing_dict.update(entry)
missing_dict

{'Downtown West': [44.9742, -93.2733],
 'Ventura Village': [44.9618, -93.2582],
 'Humboldt Industrial Area': [45.0421, -93.3077],
 'South Uptown': [44.9411, -93.2911],
 'Mid - City Industrial': [44.9989, -93.2178],
 'Nicollet Island - East Bank': [44.9879, -93.2629]}

In [112]:
# Fill in missing lat/long values into our dataframe
for j in range(0,6):
    value=nbhds.index[nbhds['Neighborhood']==missing_addresses[j]]
    nbhds.loc[value[0], 'Latitude'] = missing_dict[missing_addresses[j]][0]
    nbhds.loc[value[0], 'Longitude'] = missing_dict[missing_addresses[j]][1]

nbhds.head()

        Neighborhood Latitude Longitude
0      Phillips West  44.9539  -93.2663
1      Downtown West  44.9742  -93.2733
2      Downtown East   44.975  -93.2599
3    Ventura Village  44.9618  -93.2582
4  Sumner - Glenwood  44.9837  -93.2914

In [114]:
nbhds.shape

(87, 3)

According to Wikipedia, there are 81 official neighborhoods. Here we tally 87. Some cross-referencing perhaps is in order.

### Use FourSquare API to gather data about venues in the neighborhoods.